<%- include("partials/header"); -%>

<h1> 
  <!-- Format the date and time -->
  <% 
     const timeOptions = {hour: 'numeric', minute: 'numeric', hour12: true};
     const formattedTime = date.toLocaleTimeString('en-UK', timeOptions);
     const dateObj = new Date(date);
     const options = { day: 'numeric', month: 'long', year: 'numeric' };
     const formattedDate = dateObj.toLocaleDateString('en-UK', options);
  %> 
  <%= formattedDate %>
  <span class="time">
    <%= formattedTime %>
  </span>
</h1>

<p><%=content%></p>

<%- include("partials/footer"); -%>
